<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982311118617-qkv3m94udalqormg6h82fcfo9mbk5gbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982311118617-qkv3m94udalqormg6h82fcfo9mbk5gbc</string>
	<key>API_KEY</key>
	<string>AIzaSyC6b9V378pc6RI5dqNSPBkKOR2pEYgFAK4</string>
	<key>GCM_SENDER_ID</key>
	<string>982311118617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booqui</string>
	<key>PROJECT_ID</key>
	<string>booqui-aaea4</string>
	<key>STORAGE_BUCKET</key>
	<string>booqui-aaea4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982311118617:ios:cc494fdfff6376805ec788</string>
</dict>
</plist>